<!doctype html>
<html>
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/tbl.css">
</head>
<body>

<div class="iefix">
<nav class="nav-custom">
  <div class="nav-custom-header col-sm-3">
    <a href="/" class="click-header">
      <img class="nav-custom-logo" src="/assets/icon.svg"></img>
      <h1>ADMIN</h1>
    </a>
  </div>
  <div class="nav-custom-collapse col-sm-6" id="myNavbar">
    <ul class="nav-custom-ul">
      <li id="home">
        <img class="nav-custom-icon-main" src="/assets/icon-home-un.svg"></img>
        <a href="/">HOME</a>
        <div class="nav-hr" style="display:none;"></div>
      </li>
      <li id="events">
        <img class="nav-custom-icon-main" src="/assets/icon-my-profile-un.svg"></img>
        <a href="/drivers">DRIVERS</a>
        <div class="nav-hr" style="display:none;"></div>
      </li>
      <li id="alerts">
        <img class="nav-custom-icon-main" src="/assets/emergencyalerts.svg"></img>
        <a href="/alerts">EMERGENCY ALERTS</a>
        <div class="nav-hr" style="display:none;"></div>
      </li>
    </ul>
  </div>
  <div class="col-sm-3" style="display:inline-flex;margin-top:5px;">
    <div class="col-6 dropdown">
      <select id="admin-select" class="dropdown-toggle" onChange="window.location.href=this.value" name="state" required>
        <option value="" selected="selected" hidden="hidden"><%= picker %></option>
        <option value="/adminhome/driver">DRIVER</option>
        <option value="/adminhome/processor">PROCESSOR</option>
        <option value="/adminhome/sales">SALES</option>
      </select>
    </div>
    <div class="col-6">
      <img class="nav-custom-icon" src="/assets/icon-my-notifications.svg"></img>
      <a href="/profile"><img class="nav-custom-icon" style="margin-right:25px;" src="/assets/icon-my-profile-un.svg"></img></a>
    </div>
  </div>
</nav>
</div>

  <% include partials/map-counties %>

  <div class="container-main">

    <div class="card card-main">
      <img class="tr" src="/assets/tr-corner.svg"></img>
      <img class="tl" src="/assets/tl-corner.svg"></img>
      <img class="bl" src="/assets/bl-corner.svg"></img>
      <img class="br" src="/assets/br-corner.svg"></img>

      <div class="inner-card-block">

        <div class="table-headers">
          <div class="col-md-7 county-label">
            <h1 style="margin-left:8px;">DRIVERS</h1>
            <% var count = 0; %>
            <% for (var i = 0; i < event.length; i++) { %>
              <% if (event[i].isnew) { %>
                <% count ++ %>
              <% } %>
            <% } %>
            <% if (count > 0) { %>
              <h2>(<%= count %> NEW)
              </h2>
            <% } %>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>EMAIL</th>
              <th>FIRST NAME</th>
              <th>LAST NAME</th>
              <th>CREATED</th>
            </tr>
          </thead>
          <colgroup>
                  <col class="col-md-7">
                  <col class="col-md-1">
                  <col class="col-md-1">
                  <col class="col-md-1">
              </colgroup>
          <tbody>
            <% for (var i = 0; i < event.length; i++) { %>
              <tr>
                <td><%= event[i].email %> </td>
                <td><%= event[i].first %> </td>
                <td><%= event[i].last %> </td>
                <td><%= event[i].created %> </td>
              </tr>
            <% }; %>
          </tbody>
        </table>
        <% if (event.length <= 0) { %>
          <div class="no-data">No drivers</div>
        <% }; %>
      </div>
    </div>
  </div>

  <div id="cover" style="display:none;"></div>

</body>
<% include partials/script %>
<script src="/js/map-counties.js"></script>
<script src="/js/map.js"></script>
<script src="/js/county-tbl.js"></script>
</html>
