<!doctype html>
<html>
<head>
  <% include partials/head %>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/tbl.css">
</head>
<body>

  <% include partials/salesmenu %>

  <div id="add-trouble-popup" class="popup-panel" style="display:none;">
  	<div class="card-popup">
      <img class="tr" src="/assets/tr-corner.svg"></img>
      <img class="tl" src="/assets/tl-corner.svg"></img>
      <img class="bl" src="/assets/bl-corner.svg"></img>
      <img class="br" src="/assets/br-corner.svg"></img>

  		<div class="popup-header">ADD TROUBLE AREA</div>
    		<img class="close" src="/assets/icon-close-copy-3.svg" onclick="closepopup()">
    		<hr class="popup-hr">
        <p class="popup-desc">Please tell us where the trouble area is within the state and a brief description about the issue.</p>
        <form action="/submitNewTrouble" method="post">
            <div class="form-group">
                <p style="font-size: 12px;color: rgba(255, 255, 255, 0.25);">STATE</p>
                <select id="add-trouble-state-id" class="form-control" placeholder="Enter State..." name="state" required>
                	<option value="AL">Alabama</option>
                	<option value="AZ">Arizona</option>
                	<option value="AR">Arkansas</option>
                	<option value="CA">California</option>
                	<option value="CO">Colorado</option>
                	<option value="CT">Connecticut</option>
                	<option value="DE">Delaware</option>
                	<option value="DC">District Of Columbia</option>
                	<option value="FL">Florida</option>
                	<option value="GA">Georgia</option>
                	<option value="ID">Idaho</option>
                	<option value="IL">Illinois</option>
                	<option value="IN">Indiana</option>
                	<option value="IA">Iowa</option>
                	<option value="KS">Kansas</option>
                	<option value="KY">Kentucky</option>
                	<option value="LA">Louisiana</option>
                	<option value="ME">Maine</option>
                	<option value="MD">Maryland</option>
                	<option value="MA">Massachusetts</option>
                	<option value="MI">Michigan</option>
                	<option value="MN">Minnesota</option>
                	<option value="MS">Mississippi</option>
                	<option value="MO">Missouri</option>
                	<option value="MT">Montana</option>
                	<option value="NE">Nebraska</option>
                	<option value="NV">Nevada</option>
                	<option value="NH">New Hampshire</option>
                	<option value="NJ">New Jersey</option>
                	<option value="NM">New Mexico</option>
                	<option value="NY">New York</option>
                	<option value="NC">North Carolina</option>
                	<option value="ND">North Dakota</option>
                	<option value="OH">Ohio</option>
                	<option value="OK">Oklahoma</option>
                	<option value="OR">Oregon</option>
                	<option value="PA">Pennsylvania</option>
                	<option value="RI">Rhode Island</option>
                	<option value="SC">South Carolina</option>
                	<option value="SD">South Dakota</option>
                	<option value="TN">Tennessee</option>
                	<option value="TX">Texas</option>
                	<option value="UT">Utah</option>
                	<option value="VT">Vermont</option>
                	<option value="VA">Virginia</option>
                	<option value="WA">Washington</option>
                	<option value="WV">West Virginia</option>
                	<option value="WI">Wisconsin</option>
                	<option value="WY">Wyoming</option>
                </select>
            </div>
            <div class="form-group">
                <p style="font-size: 12px;color: rgba(255, 255, 255, 0.25);">COUNTY</p>
                <select id="add-trouble-county-id" class="form-control" name="county" required>
                  <option value="" disabled selected hidden>Enter County...</option>
                </select>
            </div>
            <div class="form-group">
              <p style="font-size: 12px;color: rgba(255, 255, 255, 0.25);">DESCRIPTION</p>
              <textarea id="add-trouble-desc" name="description" placeholder="Enter brief description..." required></textarea>
            </div>

            <button type="submit" class="submit-btn" onclick="submitNewTrouble()">SUBMIT</button>

            <div class="cancel-btn" onclick="closepopup()">CANCEL</div>
        </form>
  	</div>
  </div>

  <% include partials/map-counties %>

  <div class="container-main">

    <div class="card card-main">
      <img class="tr" src="/assets/tr-corner.svg"></img>
      <img class="tl" src="/assets/tl-corner.svg"></img>
      <img class="bl" src="/assets/bl-corner.svg"></img>
      <img class="br" src="/assets/br-corner.svg"></img>

      <div class="inner-card-block">

        <div class="table-headers">
          <div class="col-md-7 county-label">
            <h1 style="margin-left:8px;">SALES EVENTS</h1>
            <% var count = 0; %>
            <% for (var i = 0; i < event.length; i++) { %>
              <% if (event[i].isnew) { %>
                <% count ++ %>
              <% } %>
            <% } %>
            <% if (count > 0) { %>
              <h2>(<%= count %> NEW)
              </h2>
            <% } %>
          </div>
          <div class="col-md-5">
            <div id="popTroubleTbl" class="custom-buttons-tbl">ADD TROUBLE AREA</div>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th>DESCRIPTION</th>
              <th>STATE</th>
              <th>COUNTY</th>
              <th>DATE</th>
              <th>TIME</th>
              <th>AUDIT</th>
            </tr>
          </thead>
          <colgroup>
                  <col class="col-md-7">
                  <col class="col-md-1">
                  <col class="col-md-1">
                  <col class="col-md-1">
                  <col class="col-md-1">
                  <col class="col-md-1">
              </colgroup>
          <tbody>
            <% for (var i = 0; i < event.length; i++) { %>
              <tr>
                <td class="expand">
                  <% if (event[i].isnew) { %>
                    <div class="new"><img src="/assets/new.svg"></img></div>
                  <% } %>
                  <%= event[i].description %>
                </td>
                <td><%= event[i].state %> </td>
                <td><%= event[i].county %> </td>
                <td><%= event[i].created %> </td>
                <td><%= event[i].ctime %> </td>
                <% if (event[i].manage == 'ACCEPTED') { %>
                  <td><div class="tbl-audit-green"><%= event[i].manage %></div></td>
                <% } else if (event[i].manage == 'PENDING') { %>
                  <td><div class="tbl-audit-yellow"><%= event[i].manage %></div></td>
                <% } else { %>
                  <td><div class="tbl-audit-red"><%= event[i].manage %></div></td>
                <% }; %>
              </tr>
            <% }; %>
          </tbody>
        </table>
        <% if (event.length <= 0) { %>
          <div class="no-data">We are sorry, we are not able to help in this area.</div>
        <% }; %>
      </div>
    </div>
  </div>

  <div id="cover" style="display:none;"></div>

</body>
<% include partials/script %>
<script src="/js/map-counties.js"></script>
<script src="/js/county-tbl.js"></script>
</html>
